body{
  background-color: #BC4540;
}
#appbar{
  background-color: #953834;
  height: 100px;
}
#appbar img {
  width: 110px;
  }
.main {
  height: 500px;
  width:100%;
}
.waitressTitle{
  padding-top: 0;
  margin-top: 0px;
}
.button{
  padding: 15px 32px;
  text-align: center;
  display: list-item;
  margin: 3px;
}
#InputClient{
  width: 10px;
  color: #0D296D;
}
.menus{
  display: inline-block;
  padding-left: 100px;
}
.clientName{
  font-size: 30px;
  color: #0D296D;
}
h4{
  color: #0D296D;
  margin-bottom: 0;
}
table {
  color: #F9E79F;  
}
.tdDos{
  text-align: right;  
}
