body{
  background-color: #f2f7f5;
  color: #475d5b;
}

/* -------- HEADER -------- */
#appbar{
  background-color: #953834;
  height: 80px;
}
#appbar img {
  width: 80px;
  }


/* -------- MAIN -------- */
.main {
  width: 100%;
  display: flex;
}

.main-cashregister, .main-waitress {
  width: 50%;
  padding: 20px;
}

/* -------- ITEM -------- */
.item {
  margin: 5px;
  display: block;
}

.item-button {
  width: 100%;
}

.client-order {
  background-color: #953834;
  color: #000;
}
