body{
  background-color: #f2f7f5;
  color: #475d5b;
}

/* -------- HEADER -------- */
#appbar{
  background-color: #953834;
  height: 80px;
}
#appbar img {
  width: 80px;
  }

/* -------- ITEM -------- */
.item {
  background-color: #faae2b;
}
